:root {
	--color-oscuro: #101820ff;
	--color-claro: #f2aa4cff;
}

* {
	padding: 0;
	margin: 0;
}

.body {
	background-color: var(--color-oscuro);
	display: flex;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #101820ff;
	justify-content: center;
	text-align: center;
	margin: 20px;
	padding: 15px;
}

.title {
	padding: 10px;

}

.body h1 {
	font-size: 40px;
}

.body h2 {
	font-size: 15px;
}


p {
	font-size: 15px;


}

.main-container {

	background-color: var(--color-claro);
	border-radius: 10px;
	padding: 10px;

}

/* img div seria el recuadro que guarda la imagen pero para ajustar la imagen esta el id IMAGE  */

.img-container {
	display: flex;
	background-color: #101820ff;
	margin: 10px 30px 30px 10px;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.img-container p {
	margin-bottom: 10px;
}

.imgs {
	width: 100%;
	height: auto;
	max-width: 600px;
	padding: 20px;
	border-radius: 100px;

}

.img-container p {
	color: #f2aa4cff;


}

.info-container {
	display: flex;
	margin: 10px 30px 30px 10px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.tribute-info {
	display: flex;
	flex-direction: column;
	margin: 10px 30px 10px 30px;

}

.lista {
	display: flex;
	background-color: #101820ff;
	color: #f2aa4cff;
	border-radius: 30px;
	margin: 10px 30px 10px 30px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.lista ul {
	list-style: none;
	font-size: 16px;

}

.footer-container {
	background-color: var(--color-oscuro);
	color: var(--color-claro);
	display: flex;
	flex-direction: column;
	margin: 10px 30px 10px 30px;
	padding: 10px;
	border-radius: 30px;
	justify-content: space-around;
}

.footer {}


.button {

	background-color: var(--color-claro);
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
}



@media screen and (max-width: 800px) {
	.imgs {
		max-width: 250px;
	}

	.button {
		padding: 10px 18px;
	}
}