:root {
	--color-oscuro: #121013;
	--color-oscuro2: rgba(67, 43, 89, 0.385);
	--color-oscuro3: rgb(101, 18, 218);
	--color-claro3: #fdd73e;
	--letra-grande-g: 4.5rem;
	--letra-grande-m: 3.5rem;
	--letra-grande-c: 2.5rem;
	--letra-media-g: 1.85rem;
	--letra-media-m: 1.375rem;
	--letra-media-c: 1.100rem;
	font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Slab:wght@300&display=swap');

body {
	box-sizing: border-box;
	background-color: var(--color-oscuro);
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	overflow-x: hidden;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-oscuro);
}

.main-container__header {
	line-height: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url("../imagenes/bgHeader.jpg");
	opacity: 0.9;
	background-size: cover;
	color: var(--color-claro3);
	width: 98vw;
	height: 100vh;
	filter: contrast(1.2);
}

a {
	color: inherit;
}

.main-container__header h1 {
	font-size: var(--letra-grande-g);
	margin-bottom: 0.5rem;
	padding: 1rem;
}

.main-container__header h2 {
	color: var(--color-claro3);
	font-size: var(--letra-grande-m);

}

.main-container__header>a:hover {
	color: white;
}

.main-container__img-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--color-negro);
	filter: drop-shadow(0 0 1rem var(--color-oscuro3));
}

.main-container__img-container p {
	position: relative;
	bottom: 6rem;
	font-size: var(--letra-media-g);
	color: var(--color-claro3);
	padding: 0;
	margin: 0;

}

.img-container__img {
	width: 100%;
	max-height: 100rem;
	max-width: 95vw;
	min-height: 45rem;
	filter: grayscale(100%);
}

.main-container__info-container {
	background-color: var(--color-oscuro2);
	text-align: justify;
	text-align: center;

}

.main-container__info-container p {
	font-size: var(--letra-media-g);
	color: var(--color-claro3);
	margin: 0 0.8rem 1rem;

}

.main-container__lista {
	display: flex;
	flex-direction: column;
	background-color: var(--color-oscuro2);
	color: var(--color-claro3);
	width: 95%;
	border-radius: 3rem;
	text-align: center;
	font-size: var(--letra-media-g);
}

.main-container__lista ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-container__lista li {
	margin: 1rem 0.5rem;
	font-size: var(--letra-media-m);
}

.main-container__cita {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: var(--color-claro3);
	font-size: var(--letra-media-c);
}


footer {
	display: flex;
	background-color: var(--color-oscuro2);
	width: 95%;
	justify-content: space-around;
	border-radius: 3rem;
	padding: 3rem 0;
	margin: 2rem 0;
}

footer a {
	color: var(--color-claro3);
	font-size: var(--letra-media-c);
}

footer a:hover {
	color: white;

}

.shake:hover {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	:root {
		font-size: 10px;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	:root {
		font-size: 11px;

	}



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	:root {
		font-size: 12px;
		;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	:root {
		font-size: 14px;

	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	:root {
		font-size: 16px;

	}
}